/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* real number */
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* real number */
  font-style: normal;
}


.container {
    display: grid;
    grid-template: 3fr 7fr / 1fr 4fr 1fr;
    font-family: inter;
}

.main-container {
    background-color: #127475;

}

.announcements-container {
    background-color: #127475;
}

.icon {
    height: 45px;
    width: 45px;
}

.subtitle-text {
    justify-self: start;
    font-size: 1.8rem;
    font-weight: bold;
}

.subtitle-text-big {
    font-weight: bolder;
    font-size: 2.8rem;
}


.subtitle-text, .subtitle-text-big {
    font-family: Roboto Mono;
}

/* Sidebar div */

.sidebar-container {
    background-color: #F5DFBB;
    grid-row: span 2;
    box-shadow: 10px 0px 8px #64605a85;
    position: relative;
    padding: ;
}


/* Header div */

.header-container {
    background-color: #0E9594;
    grid-column: span 2;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    align-items: center;
    padding: 10px 50px;
    align-items: center;
    position: relative;
    box-shadow: 5px 4px 8px #044444bd;
}

.search-bar {
    background-color: rgba(255, 255, 255, 0.288);
    width: 95%;
    margin-left: 40px;
    height: 50px;
    border-radius: 40px;
    position: relative;
}

.search-bar::before{
    content: "";
    background-image: url(images/magnify.svg);
    height: 45px;
    width: 45px;
    position: absolute;
    left: -65px;
    top: 4px;
}

.search-bar:hover {
    background: rgba(255, 255, 255, 0.226);
}

.account-div {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    gap: 10px;
}

.cat-icon {
    height: 60px;
    width: 60px;
    justify-self: center;
}

.bell-icon {
    justify-self: end;
}

.account-name-text {
    justify-self: start;
}

.account-greeting-div {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    gap: 30px;
}

.cat-icon-big {
    min-height: 120px;
    min-width: 120px;
    max-height: 120px;
    max-width: 120px;
    justify-self: end;
}

.intro-name {
    align-self: end;
    margin-bottom: 10px;
    position: relative;
}

.intro-name::before {
    position: absolute;
    content: "Hi there,";
    top: -1.3rem;
    font-size: 1.2rem;
    left: 3px;
}

.account-buttons-div {
    display: flex;
    justify-content: center;
    gap: 45px;
    
}

.account-button {
    background-color: #F5DFBB;
    border: none;
    border-radius: 200px;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 1.5rem;
}

.account-button:hover {
    background-color: #d1c2a9;
}

.account-greeting-div, .account-buttons-div {
    margin-top: 10px;
}