/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
    --header-white: #FFFFFF;
    --main-grey: #F1F1F1;
    --darker-grey: #DDDDDD;
    --sidebar-blue: #29274C ;
    --fern: #628B48;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* real number */
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* real number */
  font-style: normal;
}


.container {
    display: grid;
    grid-template: 3fr 7fr / 2fr 8fr 3fr;
    font-family: inter;
}





.icon {
    height: 45px;
    width: 45px;
}

.subtitle-text {
    justify-self: start;
    font-size: 2.1rem;
    font-weight: bold;
}

.subtitle-text-big {
    font-weight: bolder;
    font-size: clamp(1rem, 2.8rem, 3rem);
}


.subtitle-text, .subtitle-text-big {
    font-family: Roboto Mono;
}

/* Sidebar div */

.sidebar-container {
    background-color: var(--sidebar-blue);
    color: white;
    grid-row: span 2;
    box-shadow: 4px 0px 4px hsla(243, 44%, 64%, 0.412);
    position: relative;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    z-index: 2;
}

.sidebar-title {
    position: relative;
    margin-left: 60px;
    align-self: center;
}

.sidebar-title::before {
    background-image: url(images/sheep.svg);
    height: 90px;
    width: 90px;
    left: -94px;
    top: -15px;
    position: absolute;
    content: "";
    filter: invert(100%);
}
.sidebar-container ul li {
    font-size: 1.8rem;
    list-style-type: none;
    line-height: 3.9rem;
    position: relative;
    margin-left: 60px;
    font-weight: 500;
}

.list-icon::before {
    position: absolute;
    content: "";
    left: -5rem;    
    top: 0.5rem;
    height: 45px;
    width: 45px;
    filter: invert(100%);
}

.list-icon-1::before {
    background-image: url(images/home-variant-outline.svg);
}
.list-icon-2::before {
    background-image: url(images/account-outline.svg);
}
.list-icon-3::before {
    background-image: url(images/message-outline.svg);
}
.list-icon-4::before {
    background-image: url(images/history.svg);
}
.list-icon-5::before {
    background-image: url(images/clipboard-list-outline.svg);
}
.list-icon-6::before {
    background-image: url(images/account-group-outline.svg);
}
.list-icon-7::before {
    background-image: url(images/cog-outline.svg);
}
.list-icon-8::before {
    background-image: url(images/comment-question-outline.svg);
}
.list-icon-9::before {
    background-image: url(images/eye-off-outline.svg);
}

/* Header div */

.header-container {
    background-color: var(--header-white);
    grid-column: span 2;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    align-items: center;
    padding: 0px 50px 30px 50px;
    align-items: center;
    position: relative;
    box-shadow: 5px 4px 8px rgba(255, 255, 255, 0.089);
    z-index: 3;
}

.search-bar {
    background-color: var(--main-grey);
    width: 95%;
    margin-left: 40px;
    height: 50px;
    border-radius: 40px;
    position: relative;
}

.search-bar::before{
    content: "";
    background-image: url(images/magnify.svg);
    height: 45px;
    width: 45px;
    position: absolute;
    left: -65px;
    top: 4px;
}

.search-bar:hover {
    background-color: #cac6c66c;
}

.account-div {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    gap: 10px;
}

.cat-icon {
    height: 60px;
    width: 60px;
    justify-self: center;
}

.bell-icon {
    justify-self: end;
}

.account-name-text {
    justify-self: start;
}

.account-greeting-div {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    gap: 30px;
}

.cat-icon-big {
    min-height: 120px;
    min-width: 120px;
    max-height: 120px;
    max-width: 120px;
    justify-self: end;
}

.intro-name {
    align-self: end;
    margin-bottom: 10px;
    position: relative;
}

.intro-name::before {
    position: absolute;
    content: "Hi there,";
    top: -1.3rem;
    font-size: 1.2rem;
    left: 3px;
}

.account-buttons-div {
    display: flex;
    justify-content: center;
    gap: 45px;
    
}

.account-button {
    background-color: var(--sidebar-blue);
    border: none;
    border-radius: 200px;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

.account-button:hover {
    background-color: #595792;
}

.account-greeting-div, .account-buttons-div {
    margin-top: 10px;
}

/* Main container div */

.main-container {
    background-color: var(--main-grey);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    padding: 160px 50px;
    position: relative;
}

.main-container::before {
    content: "Your Projects";
    position: absolute;
    font-size: 1.8rem;
    font-family: Roboto Mono;
    top: 5.1rem;
    left: 4rem;
    font-weight: bold;
}

.card {
    min-height: 200px;
    background-color: var(--header-white);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    box-shadow: -6px 0 #29274C;
}

.card-content {
    font-size: 1.6rem;
    padding: 20px 0px;
}

.card-icons-div {
    display: flex;
    gap: 25px;
    justify-content: end;
    padding: 5px 15px;
}

.card-icons-div img {
    height: 25px;
    width: 25px;
}

/* Announcements countainer */

.announcements-container {
    background-color: var(--main-grey);
}

.announcements-div {
    background: var(--header-white);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}